@mixin navlist ($position) {
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: $position;
}

@mixin brandLogo ($fontSize, $logoColor) {
    font-family: $arima-font;
    font-weight: 700;
    font-size: $fontSize;
    text-decoration: none;
    color: $logoColor;
}

@mixin listStyle ($textColor) {
    list-style: none;
    color: $textColor;
    margin-top: .5rem;
}

@mixin footerBtn {
    padding-bottom: .5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}