@mixin navlist ($position) {
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: $position;
}

@mixin brandLogo ($fontSize, $logoColor) {
    font-family: $arima-font;
    font-weight: 700;
    font-size: $fontSize;
    text-decoration: none;
    color: $logoColor;
}

@mixin listStyle ($textColor) {
    list-style: none;
    color: $textColor;
    margin-top: .5rem;
}

@mixin footerBtn {
    padding-bottom: .5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 5%;
}

@mixin viewport {
    width: 100%;
    height: 70vh;
}

@mixin boxShadow {
    -webkit-box-shadow: 4px 4px 19px 3px rgba(133, 133, 133, 0.13);
    box-shadow: 4px 4px 19px 3px rgba(133, 133, 133, 0.13);
}