@import "../Sass/mixins.scss";
@import "../Sass/variables.scss";

.card {
    color: $icon-color;
    width: 30%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    border-radius: 2rem;

    &-inner {
        width: 100%;
        height: 70%;
        background: $pink-background2;
        text-align: center;
    }


    &-productimage {
        margin-top: 10%;
        width: 50%;
        height: auto;

    }

    &-header {
        color: $font-color1;

    }

    &-btn {
        background-color: $secondary-color;
        border: none;
        color: $base-color;
    }
}