@import "../../Sass/mixins.scss";
@import "../../Sass/variables.scss";

.card {
    color: $icon-color;
    background-color: rgb(246, 246, 246);
    margin-top: 2rem;

    &-inner {
        background: $pink-background2;
    }


    &-productimage {
        width: 60%;
        height: auto;
        object-fit: cover;

    }

    &-header {
        color: $font-color1;

    }

    &-btn {
        background-color: $secondary-color;
        border: none;
        color: $base-color;
    }
}