@import "../../Components/Sass/variables.scss";
@import "../../Components/Sass/mixins.scss";

.input {
    width: 50%;
    height: 2.5rem;
    margin: 2rem auto;

    &-main {

        position: relative;
        width: 100%;
        height: 100%;

    }


    &-field {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 1px solid $secondary-color;
        border-radius: .6rem;
        outline: none;
        padding: 0 3%;
        font-size: .8rem;
    }

    &-field:focus~&-placeholder {
        top: -1.1rem;
        background-color: $base-color;
        padding: 0 .2rem;
        transition: .4s;
    }

    &-field:valid~&-placeholder {
        top: -1.3rem;
        background-color: $base-color;
        padding: 0 .2rem;
        transition: .4s;
    }

    &-field:-webkit-autofill~&-placeholder {
        background-color: $base-color;
        padding: .2rem;
        top: -1.3rem;
    }

    &-field:-webkit-autofill {
        box-shadow: 0 0 0 30px white inset;
        font-family: $arima-font;

    }



    &-placeholder {

        position: absolute;
        top: .5rem;
        left: .7rem;
        font-size: .8rem;

    }
}

::-webkit-file-upload-button {

    background-color: $font-color2;
    font-size: .9rem;
    margin-top: .6rem;
    border: none;
    border-radius: 2px;
    color: $base-color;

}

::-webkit-file-upload-button:hover {
    background-color: $secondary-color;
}