.payment {
    width: 50%;
    margin: 5em auto;
}

.mc {
    width: 2.5rem;
    height: 1.7rem;
}

.vc {
    width: 2.5rem;
    height: 1.7rem;
    margin-right: .3rem;
}

.price {
    background-color: rgba(97, 113, 138, 0.605);
    color: aliceblue;
}