@import "../Sass/mixins.scss";
@import "../Sass/variables.scss";

.input {
    width: 50%;
    height: 2rem;
    margin: 2rem auto;

    &-main {

        position: relative;
        width: 100%;
        height: 100%;

    }


    &-field {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 1px solid $secondary-color;
        border-radius: .6rem;
        outline: none;
        padding: 0 .7rem;
        font-size: .8rem;
    }

    &-field:focus~&-placeholder {
        top: -.7rem;
        background-color: $base-color;
        padding: 0 .2rem;
    }

    &-placeholder {
        position: absolute;
        top: .5rem;
        left: .7rem;
        font-size: .8rem;

    }
}