.banner-main {
    margin: 2rem auto;
    width: 95%;
    height: 60vh;
    background: linear-gradient(36deg, rgba(247, 245, 236, 1) 20%, rgba(255, 231, 205, 1) 48%,
            rgba(250, 204, 212, 0.9009978991596639) 100%);
    border-radius: 2rem;

}