@import "../Sass/variables.scss";
@import "../Sass/mixins.scss";

.header {
    width: 80%;
    height: 5rem;
    margin: auto;
    position: relative;

    &-togle {
        margin-top: 2.7rem;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;

        &-btn {
            cursor: pointer;
        }
    }

    &-logo {
        width: 15%;
        height: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2rem;
        font-family: $arima-font;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
        color: $font-color1;

        &-dot {
            color: $secondary-color;
        }


    }

    &-nav {
        margin-top: 2rem;
        width: 30%;
        height: 3rem;
        position: absolute;
        top: 0;
        left: 35%;
        font-family: $arima-font;



        &-list {

            @include navlist(none);



        }





        &-link {
            width: 3px;
            text-decoration: none;
            color: $font-color1;
            font-size: .9rem;
            position: relative;
            padding: .4rem;
        }

        &-link::after {

            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background: $secondary-color;
            transition: .4s ease-out;
        }

        &-link:hover::after {

            left: 0;
            width: 100%;
        }




    }

    &-element {
        font-size: 1.5rem;
        width: 15%;
        height: 3rem;
        top: 0;
        right: 0;
        margin-top: 2rem;
        @include navlist(absolute)
    }
}

//Media Query

@media only screen and (max-width: 950px) {
    .header-togle {
        visibility: visible;
    }

    .header-logo {
        left: 2rem;
        font-size: 1.5rem;
    }

    .header-nav {
        background-color: #E6E4E2;
        width: 50%;
        height: 100vh;
        margin: 0;
        z-index: 2000;


    }

    .header-nav-list {
        all: initial;
    }

    .header-nav-item {
        margin-top: 2rem;
        font-size: 2rem;
        padding-left: 2rem;
        list-style: none;
        cursor: pointer;
    }

    .header-nav-link {
        font-size: 1.5rem;
    }

    .hide-togle {
        left: -100%;
    }

    .show-togle {
        left: -15%;
        transition: .5s;
    }

    .header-element {
        width: 30%;
        padding-top: .5rem;
    }


}