@import "../../Sass/mixins.scss";
@import "../../Sass/variables.scss";

.catagory {
    padding-left: 1rem;
    width: 20%;

    &-main {
        position: relative;
    }


    &-btn {
        padding-bottom: .5rem;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }

    &-header {
        @include brandLogo(.9rem, $font-color1);
    }

    &-item {
        @include listStyle($font-color2);
    }

    &-address {
        text-decoration: none;
        color: $font-color2;
        font-size: .8rem;
    }
}