@import "../../Sass/mixins.scss";
@import "../../Sass/variables.scss";

.social {
    padding-left: 1rem;

    &-header {
        @include brandLogo(1.5rem, $font-color1);
    }

    &-dot {
        color: $secondary-color;
    }

    &-text {
        font-family: $arima-font;
        font-size: .8rem;
        color: $font-color2;
    }

    &-icons {
        color: $icon-color;
        margin-top: 1rem;

        &-item {
            margin-right: 1rem;
        }
    }


}