@import "../../Components/Sass/mixins.scss";
@import "../../Components/Sass/variables.scss";

.login {
    @include viewport;

    &-main {
        width: 60%;
        height: 90%;
        margin: 3rem auto;
        position: relative;
        @include boxShadow;
    }

    &-info {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &-header {
        width: 20%;
        margin: 2rem auto;
        text-align: center;
        @include brandLogo(2rem, $font-color2);
    }

    &-divider {
        text-align: center;
        font-size: 1.2rem;
    }

    &-img {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../../Resources/loginpage.png"), linear-gradient(133deg, rgba(209, 61, 61, 0.7637429971988796) 36%, rgba(252, 176, 69, 0.8085609243697479) 99%);
        background-position: center;
        background-blend-mode: color-dodge;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 976px) {
    .login-main {
        width: 100%;
        box-shadow: none;
    }

    .login-img {
        visibility: hidden;


    }

    .login-info {
        width: 100%;
    }
}