$base-color: #ffffff;
$font-color1: #0c0b0b;
$font-color2: #625b5b;
$secondary-color: #CD5C5C;
$background1: #faf7f7;
$background2: rgb(248, 248, 248);
$background3: rgb(235, 234, 234);
$icon-color: #ed5659;
$blue-color: #00CCFF;
$dark-blue: #1da1f2;
$section-color: rgb(228, 226, 219);
$arima-font: 'Arima Madurai', cursive;
$nevyblue : #00008B;
$lightBlue : #1e8fff42;
$hoverBlue : rgba(49, 64, 49, 0.295);
$pink-background: linear-gradient(36deg, rgba(247, 245, 236, 1) 20%, rgba(255, 231, 205, 1) 48%,
        rgba(250, 204, 212, 0.9009978991596639) 100%);
$pink-background2: linear-gradient(0deg, rgba(255, 182, 193, 0.48783263305322133) 25%, rgba(254, 181, 192, 0.3393732492997199) 58%, rgba(255, 218, 185, 0.41780462184873945) 100%, rgba(232, 218, 200, 0.8953956582633054) 100%);