@import "../../Sass/mixins.scss";
@import "../../Sass/variables.scss";

.orders {
    @include adminPageLayout;
    margin-top: 3rem;

    &-item {
        background-color: rgb(237, 237, 237);
        margin-top: .5rem;
        padding: 2rem;
    }
}