@import "../../Sass/mixins.scss";
@import "../../Sass/variables.scss";

.social {
    padding-left: 1rem;
    width: 30%;

    &-header {
        @include brandLogo(1.5rem, $font-color1);
    }

    &-dot {
        color: $secondary-color;
    }

    &-text {
        width: 60%;
        font-family: $arima-font;
        font-size: .8rem;
        color: $font-color2;
    }

    &-icons {
        color: $icon-color;
        margin-top: 1rem;

        &-item {
            margin-right: 1rem;
        }
    }
}

@media only screen and (max-width: 976px) {
    .social {
        margin-top: 1rem;
        width: 100%;
    }
}