@import "../../Sass/mixins.scss";
@import "../../Sass/variables.scss";

.links {
    padding-left: 1rem;
    width: 20%;

    &-main {
        position: relative;
    }

    &-btn {
        @include footerBtn;
    }

    &-header {
        @include brandLogo(.9rem, $font-color1);
    }

    &-item {
        @include listStyle($font-color2);
    }

    &-address {
        text-decoration: none;
        color: $font-color2;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 976px) {
    .links {
        width: 100%;

        &-btn {
            visibility: visible;
        }
    }
}