@import "../../Sass/variables.scss";
@import "../../Sass/mixins.scss";

.loginnav {
    width: 25%;
    height: 12rem;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: rgba(250, 250, 250, 0.837);
    text-align: center;
    z-index: 600;
    @include boxShadow;

    &-login {
        text-decoration: none;
        color: $font-color1;
    }

    &-register {
        text-decoration: none;
        color: $font-color1;
    }

    &-text {
        margin: 1rem auto;
        border-radius: 5px;
        background-color: $font-color2 ;
        width: 80%;
        @include brandLogo(1rem, $base-color);
    }

    &-text:hover {
        background-color: $font-color1;
    }

}

@media only screen and (max-width: 1200px) {
    .loginnav {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .loginnav {
        width: 100%;
    }
}